{% extends 'base.html' %}
{% load static %}
{% block title %}
Registration Form
{% endblock title %}
{% block content %}
<section class="vh-100">
<div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          {% include 'components/alert.html' %}
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
            <form action={% url 'register'%}  method="POST" >
                {% csrf_token %}
                {% comment %} {{ form.as_p }} {% endcomment %}
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    {{ form.first_name }}
                    <label class="form-label" for="firstName">First Name</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    {{ form.last_name }}
                    <label class="form-label" for="lastName">Last Name</label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    {{ form.email }}
                    <label class="form-label" for="emailAddress">Email Address</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    {{ form.phone_number }}
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    {{ form.password }}
                    <label class="form-label" for="password">Password</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    {{ form.confirm_password }}
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                  </div>

                </div>
              </div>

              <div class="mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
              </div>
                 <!-- Register buttons -->
                 <div class="text-center">
                  <p>Already a member? <a href="{% url 'login' %}">sign in</a></p>
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              {{ form.email.errors }}
              {{ form.non_field_errors }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}